[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.32"
beautifulsoup4 = "~=4.14"
lxml = "~=6.0"
tabulate = "~=0.10"
pandas = "~=2.3"
python-dotenv = "~=1.2"
python-toon = "~=0.1"
finnhub-python = "~=2.4"
financedatabase = "~=2.3"
tradingview-datafeed = "~=2.1"
google-genai = "~=1.66"
openai = "~=2.26"

[dev-packages]

[requires]
python_version = "3.13"
